body {
  background-color: rgb(134, 228, 231);
  font-family: "Bubblegum Sans", cursive;
  margin: 0%;
}

h1 {
  text-align: center;
  font-family: "Bubblegum Sans", cursive;
  font-size: 35px;
}

header {
  border-bottom: solid black 5px;
}
