.card {
  width: 50%;
  margin: 0 auto;
  /* box-shadow: var(--accent) 5px 5px 5px; */
  box-shadow: black 5px 5px 5px;
  padding: 3% 10%;
  border-radius: 2rem;
  position: relative;
  margin-bottom: 30px;
  z-index: 0;
  background-color: var(--secondary);
  text-align: center;
  font-size: larger;
}

main .fa-star {
  font-size: 35px;
  position: absolute;
  top: -17px;
  right: 40px;
  z-index: 1;
}

.bookmark-icon {
  font-size: 35px;
  position: absolute;
  top: -17px;
  right: 40px;
  z-index: 1;
  background-color: var(--secondary);
}

.toggle-background {
  color: red;
}

.hidden {
  display: none;
}
