footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  position: fixed;
  border-top: var(--accent) solid;
  height: 75px;
  width: 100%;
  bottom: 0px;
  z-index: 2;
  background-color: var(--primary);
  margin-bottom: 0;
}

footer li {
  margin-right: 80px;
  padding-top: 10px;
}

.footer-icons {
  font-size: 50px;
}

.color-icons {
  color: black;
}

.brownclick {
  color: var(--accent);
}

footer a:hover {
  color: var(--secondary);
}
