.form-section {
  text-align: start;
  width: 40%;
  margin: 0 auto;
  background: var(--secondary);
  border-radius: 2rem;
  box-shadow: black 5px 5px 5px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: larger;
  margin-bottom: 30px;
}

.submit-button {
  margin-top: 20px;
  font-family: "Bubblegum Sans", cursive;
  font-weight: bold;
  background: var(--secondary);
  font-size: 80%;
  border: solid black 1px;
  box-shadow: black 2px 2px 2px;
}

textarea {
  border-radius: 5px;
}

.tag-input {
  border-radius: 5px;
}

.remaining-characters-question {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0px;
}

.remaining-characters-answer {
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0px;
}
